@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
	--space-cadet: #21295C;
	--yale-blue: #1B3B6F;
	--lapis-lazuli: #065A82;
	--cerulean: #1C7293;
	--powder-blue: #9EB3C2;
}

body {
	background-color: var(--space-cadet);
	font-family: "Nunito";
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav {
    background-image: linear-gradient(to left, var(--yale-blue), var(--lapis-lazuli));
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.nav p {
	font-family: inherit;
	cursor: pointer;
	color: var(--powder-blue);
	font-size: 24px;
	background-color: var(--cerulean);
	border: 2px solid var(--space-cadet);
	border-radius: 8px;
	padding: 0 10px;
	margin: 10px 30px;
	transition: background-color 0.3s ease, border-color 0.3s ease;
}

.nav p::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--powder-blue);
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.nav p:hover::before {
	background-color: var(--cerulean);
	border: 2px solid var(--space-cadet);
	border-radius: 8px;
	transform: scaleX(1);
}

.nav img {
	height: 32px;
	width: 32px;
	margin: 10px 30px;
	object-fit: contain;
	border-radius: 50%;
}

.nav h1 {
	font-size: 24px
}
